---
---
<header class="bg-black text-white p-5 text-center">
    <nav class="">
        <ul class="flex justify-center space-x-5 text-sm">
            <li><a href="#about" class="hover:underline">Om</a></li>
            <li><a href="#artists" class="hover:underline">Kunstnere</a></li>
            <li><a href="#albums" class="hover:underline">Albums</a></li>
            <li><a href="#contact" class="hover:underline">Kontakt</a></li>
        </ul>
    </nav>
</header>
